.header1{
    margin-bottom: 80px;
}
.header1 img{
    width: 100%;
}
.habc{
    color: burlywood;
}
.p123{
    text-align: center;
    color: forestgreen;
}
.p789{
    text-align: center;
    color: fuchsia;
}
.hcde{
    color: firebrick;
}
.slogan{
    margin: 50px 0;
    height: 60px;
}
.f456{
    text-align: center;
    color: aquamarine;
    font-size: 50px;
}